*{
    font-family: 'Source Sans Pro', sans-serif;
}
.menu-coculto{
    display: none;
}
.menu,.menu2{
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    width: 100%;
    left: 0px;
}
.fondo_menu{
    background-color: #f3f2ef;
}
.imagen {
    width: 120px;
    margin: 1px auto;
    display: block;
}
.menu2 ul{
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    background-color: #f3f2ef;
    text-align: center;
    margin: 0 auto;
    padding: 2% 0;
}
.menu ul {
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    background-color: #f3f2ef;
    text-align: center;
    margin: 0 auto;
    padding: 10% 0;
}
.menu ul li,.menu2 ul li {
    display: inline-block;
    margin: 0 1%;
}
.menu ul li a{
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    color: #a9a7b2;
    padding: 5px;
}
.menu ul li a:hover{
	color: #fff;
	background-color: #a9a7b2;
}
.menu ul li a i{

}
article.contenido {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f5f5;
    padding: 11% 12%;
}
article.contenido p{
    font-family: 'Source Sans Pro', sans-serif;
	color: #747776;
	margin: 20px 0;	
}
h2.editorial {
    font-family: 'Source Sans Pro', sans-serif;
    color: #d1cfca;
}
h2.editorial span {
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 1px solid;
    border-style: dashed;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.titulos{
    font-family: 'Source Sans Pro', sans-serif;
	margin: 2px 0;
}
.fondo{
	background-color: #ebeae8;
}
.borde {
    border-left: 1px solid #000;
    padding: 0 20px;
}
.j-separator-10{
	height: 10px;
}
.j-separator-40{
	height: 40px;
}
.j-separator-60{
	height: 60px;
}
.fondo_azul {
    background-color: #a2d4ce;
    padding: 1px 17px;
    color: #fff;
}
.contenedor{
	width: 95%;
    margin: 0 auto;
}
.fondo_gris{
	background-color: #f7f7f7;
}
.p-relativa{
	position: relative;
}
.p-absoluta{
	position: absolute;
}
.posicion_boton_perfil {
    right: 0;
    bottom: 4px;
    padding: 10px 30px;
    background-color: rgba(82, 137, 187, 0.68);
    letter-spacing: 2px;
    color: #fff;
}
.logos{
	display: flex;
	width: 16.6666%;
}
.ancho{
	max-width: 800px !important;
}
img.centrado {
    display: block;
    margin: 0 auto;
}
.fondo_footer{
	background-color: #959099;	
}
.blanco {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
}
.noticia{
    font-family: 'Source Sans Pro', sans-serif;
}
.redes{
	text-align: center;
}
.redes a{
	display: inline-block;
}
.redes a li {
    background-image: url(../img/redes.png);
    width: 95px;
    height: 74px;
    list-style: none;
}
#youtube {
    background-position: -80px;
}
#twitter{
	background-position: -160px;
}